*{
    box-sizing: border-box;
    background-color:
}
.Parent{
    display: flex;
    gap: 10px;
    padding: 10px;
    width: 50%;
    
}
img{
    height: auto;
    max-width: 100%;
    border-radius: 50%; 
    
}