*{
    
}

.parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E90FF; /* blue navbar */
    padding: 10px 50px;
    color: white;
    font-weight: bold;
    
}
.c1{
    margin-left:10px;
    margin-top: 2px;
    background-color:cornflowerblue;
}

.c2{
    display: flex;
    gap:15px;
    margin-top: 2px;
    margin-right:50px;
    background-color:cornflowerblue;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:90vh;
    color:white
}